loki:
  auth_enabled: false


  commonConfig:
    replication_factor: 1


  singleBinary:
    replicas: 1


  storage:
    type: filesystem
    filesystem: 
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules 
