loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  # minimal schemaConfig so the chart doesn't complain about schema_config too
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: filesystem

    # required even for filesystem because of a chart validation bug
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin

    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules

deploymentMode: SingleBinary

singleBinary:
  replicas: 1

