apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: observability
  namespace: argocd
spec:
  project: defatult
  source:
    repoURL: git@github.com:KirilMilosevski/Homelab.git
    targetRevision: HEAD
    path: observability
    directory:
      recurse: true
  destination:
      server: https://kubernetes.default.svc
      namespace: argocd
  syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace = true
